// load custom font from google fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Permanent+Marker&display=swap');

// import functions first (so you can use them in this file)
@import '../../node_modules/bootstrap/scss/functions';

// global variables
$enable-rounded: true;
$enable-button-pointers: true;
$enable-negative-margins: true;
$enable-smooth-scroll: false;

// theme color variables
$primary: #ff3287;
$secondary: #16be7e;
$light: #ceda62;

// font family
$font-family-base: 'Cinzel Decorative';

// links
$link-color: red;
$link-decoration: none;
$link-hover-decoration: none;
$link-shade-percentage: 90%;
$link-hover-color: shift-color($link-color, -$link-shade-percentage);

$border-color: $secondary;

// import variables and mixins files (so you can use them below)
// any redefined vars above will be incorporated into the files (e.g. in maps)
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// add colors to theme
$custom-colors: (
  'primary-light': #fff8fb,
  'secondary-light': #f6fffb,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// remove colors from theme
$theme-colors: map-remove($theme-colors, 'danger');

// add classes for color pallette colors
@each $color, $val in $colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .bg-#{$color}-light {
    background-color: tint-color($val, 80%);
  }
  .bg-#{$color}-dark {
    background-color: shade-color($val, 30%);
  }
  .text-#{$color} {
    color: $val;
  }
  .text-#{$color}-light {
    color: tint-color($val, 80%);
  }
  .text-#{$color}-dark {
    color: shade-color($val, 30%);
  }
}

// utility api - import utility file first
@import '../../node_modules/bootstrap/scss/utilities';

// adding utilities
$custom-utilities: (
  'rotate': (
    property: transform,
    class: rotate,
    values: (
      0: rotate(0deg),
      20: rotate(20deg),
      40: rotate(40deg),
      60: rotate(60deg),
      80: rotate(80deg),
      100: rotate(100deg),
      120: rotate(120deg),
      140: rotate(140deg),
      160: rotate(160deg),
      180: rotate(180deg),
    ),
  ),
  'opacity': (
    property: opacity,
    class: o,
    state: hover,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
$utilities: map-merge($utilities, $custom-utilities);

// import bootstrap whole sass lib (incorporates all above redefined vars & values)
@import '../../node_modules/bootstrap/scss/bootstrap';
